# Access transformer configuration

public net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210560_ # templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210559_ # rawTemplates
public net.minecraft.world.entity.Mob m_213945_(Lnet/minecraft/util/RandomSource;Lnet/minecraft/world/DifficultyInstance;)V # populateDefaultEquipmentSlots

